/* 
    Document   : style
    Created on : Feb 22, 2014, 9:30:04 AM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/
.center{
    text-align: center;
}
#wuc-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/bg_pattern.png');
    z-index: 9991;
}
.wuc-overlay{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}
#wuc-wrapper a{
    text-decoration: none;
}


#wuc-box{
    width: 50%;
    margin: 0 auto;
    color: #ffffff;
    padding: 20px;
    z-index: 9999;
    position: relative;
}
#wuc-box .title{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#wuc-box .subtitle{
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 10%;
}
#wuc-box .wuc_icons{
    margin: 50px auto 0 auto;
    text-align: center;
}

#wuc-box .wuc_icons img:first-child,
#wuc-box .wuc_icons img:last-child{
    margin: 0;
}
#wuc-box .wuc_icons img{
    width: 30px;
    margin: 0 5px;
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}
.wuc-progress{
    width: 100%;
    height: 20px;
    display: block;
    background: rgba(0,0,0,.4);
    border-top: 1px solid rgba(0,0,0,.8);
    -webkit-box-shadow: 0 1px 3px rgba(255,255,255,.2), inset 0 1px 5px rgba(0,0,0,.7);
    box-shadow: 0 1px 3px rgba(255,255,255,.2), inset 0 1px 5px rgba(0,0,0,.7);
    padding: 2px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
.wuc-progress-bar{
    float: left;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-color: #5bc0de;
    background-size: 40px 40px;
}
.wuc-progress-number{
    float: left;
    height: 100%;
    line-height: 15px;
    font-size: 12px;
    margin-left: 5px;
}
.wuc-shortcode input[type=submit]{
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #49B2D2;
    background: #49B2D2;
    border: none;
    color: #fff;
    box-shadow: 0 0 3px #666;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.wuc-shortcode input[type=submit]:hover{
    color: #49B2D2;
    background: #fff;
    background-color: #fff;
}
/*-------Responsive---------*/
@media(min-width: 980px){
    #wuc-wrapper .wuc-logo{
        width: 100%;
        height: 20%;
        margin: 20px auto;  
    }
    #wuc-box .title{
        font-weight: 200;
        font-size: 34px;
        margin: 30px 0;
    }
    #wuc-box .subtitle{
        font-size: 20px;
        margin: 30px 0;
    }
    #wuc-box{
        width: 750px;
        height: 100%;
    }
}